html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  letter-spacing: 0.07em;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

a {
  color: #3f89c0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a img {
  border: 0;
}

body {
  background: #fff;
  color: #333;
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  padding: 0;
  text-align: left;
}

sbutton {
  font-family: Tahoma, Arial, Sans-Serif;
  font-size: 12px;
  border: 1px solid #7d9d9c;
  background: #bacfce;
  padding: 3px 12px;
}

button:active {
  background: #7d9d9c;
}

.clearfix {
  position: relative;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

:focus {
  outline: 0;
}

h1 {
  color: #666;
  font-family: Tahoma, Arial, Sans-Serif;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.1em;
  margin: 0;
  margin-bottom: 8px;
}

h2 {
  color: #666;
  font-family: Tahoma, Arial, Sans-Serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.06em;
  margin: 0 0 8px 0;
}

h3 {
  color: #666;
  font-family: Tahoma, Arial, Sans-Serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 0.08em;
  margin: 8px 0;
}

h4 {
  color: #666;
  font-family: Tahoma, Arial, Sans-Serif;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  color: #666;
  margin: 0 0 4px 0;
}

.hidden_elem {
  display: none;
}

hr {
  border: 0;
  border-bottom: 1px solid #f0f0f0;
  margin-top: 12px;
  margin-bottom: 16px;
}

input {
  font-family: Tahoma, Arial, Sans-Serif;
  font-size: 12px;
  margin: 1px 0;
}

input[type=text], input[type=password] {
  border: 1px solid #7d9d9c;
  padding: 2px;
}

label {
  color: #666;
  display: block;
  font-size: 11px;
  font-weight: bold;
  margin: 6px 0 2px 0
}

.left {
  float: left;
}

.marginTopMedium {
  margin-top: 4px;
}

.marginTopLarge {
  margin-top: 12px;
}

ol, ul {
  list-style: none;
}

p {
  line-height: 1.8em;
}

.popup {
  background: #fff;
  border: 1px solid #7d9d9c;
  box-shadow: 2px 2px 6px #ccc;
  min-width: 160px;
  padding: 2px;
  position: absolute;
  z-index: 200;
}

.popup .list-item {
  cursor: pointer;
}

.popup .list-item:hover {
  background: #e8eeee;
}

.right {
  float: right;
}

.rightAlign {
  text-align: right;
}

.stretch {
  box-sizing: border-box;
  width: 100%;
}

.subtitle {
  color: #666;
  font-size: 11px;
}

.title {
  border-bottom: 1px solid #bacfce;
  color: #4080a0;
  font-size: 20px;
  margin-bottom: 6px;
  padding-bottom: 4px;
}

.titleHeader {
  background: #4080a0;
  color: white;
  font-size: 13px;
  font-weight: bold;
  padding: 3px;
}
